@import "./basic-components-theme.scss";
// @import "@/styles/iconfont-svg.scss";
.iconfont {
  font-size: 12px;
}
.el-card {
  border: 1px solid #e3e3e3;
}
.el-card.is-hover-shadow:hover, .el-card.is-hover-shadow:focus {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.2);
}
.el-scrollbar__wrap {
  overflow-x: hidden;
}
div.el-input.el-input--mini {
  height: 22px;
  line-height: 2px;
}
div.el-input-number.el-input-number--mini .el-input .el-input__inner {
  height: 22px;
  width: 116px;
  padding: 0 7px;
  font-size: 14px;
  text-align: left;
}
div.el-input-number .el-input {
  margin: inherit;
}
div.el-input-number.el-input-number--mini {
  margin-right: 38px;
}